.userprofile {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border: 1px dotted lightgray;
  border-bottom: none;
  border-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0px;
  background-color: aliceblue;
  display: flex;
  width: 75%;
}

.userprofile__picture {
  height: 150px;
  width: 150px;
  margin-left: 10px;
  margin-top: 10px;
}

.userprofile__name {
  display: flex;
  margin: 0;
  padding: 50px;
  text-align: center;
  justify-content: center;
  font-size: large;
  font-size: 35px;
}

.userprofile__about {
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 15px;
  width: 75%;
  background-color: aliceblue;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border: 1px dotted lightgray;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.userprofile__about-title {
  font-size: 25px;
  text-align: center;
  padding: 5px 0 5px 0;
}

.settings {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border: 1px dotted lightgray;
  border-bottom: none;
  border-radius: 5px;
  background-color: aliceblue;
  width: 75%;
}

.settings__darkmode {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.settings__darkmode-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.settings__darkmode-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.settings__darkmode-switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 10px;
  left: 80px;
}
.settings__darkmode-switch-slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

input:checked + .settings__darkmode-switch-slider {
  background-color: lightpink;
}

input:checked + .settings__darkmode-switch-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.dark_mode-card {
  background-color: #737373;
  color: white;
  border: none;
}
