* {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  font-family: sans-serif;
}
body {
  background-color: aquamarine;
  height: 100vh;
}

.dark_mode-body {
  background-color: #4d4d4d;
  color: lightgray;
}
