@import "./components/";
@import "./global.css" * {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  font-family: sans-serif;
}
body {
  background-color: aquamarine;
}
/* Header Styling */
.header {
  width: 100%;
  display: block;
  height: fit-content;
  padding: 10px;
  background-color: lightpink;
  margin-bottom: 30px;
}

h1 {
  text-align: center;
}

/*Question Card */

section {
  width: 75%;
  position: relative;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: 1px dotted lightgray;
  background-color: aliceblue;
  border-radius: 5px;
}

.question {
  margin-bottom: 20px;
  text-align: center;
}

.answer {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.button {
  width: 100px;
  display: block;
  margin: auto;
  background: transparent;
  margin-bottom: 10px;
}

.bookmark {
  display: flex;
  position: absolute;
  top: -13px;
  right: -7px;
  height: 50px;
  width: 50px;
}
.tag {
  display: inline;
  margin-top: 10px;
  font-size: smaller;
  margin-bottom: 0px;
}

/* Footer */
footer {
  display: flex;
  position: sticky;
  bottom: 0px;
  margin-bottom: 0;
}

.navbar {
  position: sticky;
  background-color: lightpink;
  padding: 4px;
  align-items: flex-start;
  display: flex;
  margin-bottom: 0;
}
.navlist {
  display: flex;
  list-style: none;
  justify-content: space-around;
  gap: 20px;
  align-items: center;
  margin: auto;
}
.home {
  width: 57px;
  height: 59px;
  margin-left: -10px;
  padding: 0;
}
.book-nav {
  width: 59px;
  height: 59px;
}
.profile {
  width: 59px;
  height: 59px;
  margin-right: 15px;
}

.home:active {
  background-color: aliceblue;
}
.active {
  background-color: aliceblue;
}
a {
  height: 59x;
  width: 59px;
  padding: 45px 0 0px 0;
}

/* profile section */

.user-section {
  position: relative;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 1px dotted lightgray;
  background-color: aliceblue;
  display: flex;
}

.profile-picture {
  height: 150px;
  width: 150px;
  margin-left: 0;
}

.profile-section p {
  display: flex;

  margin: 0;
  padding: 50px;
  text-align: center;
  justify-content: center;
  font-size: large;
}

.settings {
  border-style: none;
}
